flex-ddG.aux
flex-ddG.bbl
flex-ddG.blg
flex-ddG.dvi
flex-ddG.log
acs-flex-ddG.bib
flex-ddG.pdf
_minted-suppinfo
acs-suppinfo.bib
flex-ddG.lof
flex-ddG.lot
suppinfo.aux
suppinfo.log
suppinfo.pdf
suppinfo.bbl
suppinfo.bcf
suppinfo.blg
suppinfo.run.xml
flex-ddG.out
suppinfo-blx.bib
suppinfo.out