flex-ddG.aux
flex-ddG.bbl
flex-ddG.blg
flex-ddG.dvi
flex-ddG.log
acs-flex-ddG.bib
flex-ddG.pdf
flex-ddG.rtf
flex-ddG.bcf
flex-ddG.4ct
flex-ddG.4od
flex-ddG.4tc
flex-ddG.idv
flex-ddG.lg
flex-ddG-manifest.4of
flex-ddG-meta.4ot
flex-ddG.odt
flex-ddG.run.xml
flex-ddG-settings.4os
flex-ddG-styles.4oy
flex-ddG.tmp
q.log
x.log
texput.log
flex-ddG.xref
